/* Style the container */
.workout-container {
    padding: 40px;
    padding-bottom: 60px;
  }
  
  /* Style the title */
  .workout-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Align filters and workout plan menu */
  .filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
  }
  
  /* Style the table title */
  .table-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  
  /* Style the table */
  .table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
  }
  
  .table-container table {
    width: 100%; 
    max-width: 90%; 
    border-collapse: collapse;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-md); 
    overflow: hidden; 
    box-shadow: var(--mantine-shadow-sm); 
    margin: 0 auto; 
  }
  
  /* Style table rows */
  .table-container tr {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border: 1px solid transparent;
    position: relative;
    z-index: 0;
    transition: transform 150ms ease;
  
    &[data-active] {
      transform: scale(1.03);
      z-index: 1;
      background-color: var(--mantine-color-body);
      border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
      box-shadow: var(--mantine-shadow-md);
      border-radius: var(--mantine-radius-md);
    }
  }
  /* Add hover effect for rows */
  .table-container tr:hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)); 
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    box-shadow: var(--mantine-shadow-md); 
    border-radius: var(--mantine-radius-md);
  }
  
  .table-container tr:last-child {
    border-bottom: none; 
  }
  
  .table-container th,
  .table-container td {
    padding: 6px 12px; 
    text-align: left;
    font-size: 14px;
  }
  
  .table-container th {
    font-weight: bold;
    padding: 12px 12px;
  }
  
  .workout-footer {
    position: fixed;
    bottom: 0;
    max-width: 1611px;
    left: 7%;  
    right: 7%;
    height: 60px;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));    
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    z-index: 100; 
    display: flex;
    align-items: center; 
    border-top-left-radius: var(--mantine-radius-lg);
    border-top-right-radius: var(--mantine-radius-lg);
    margin: 0 auto;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
  }
  
